* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.App {
  text-align: center;
}
.sidebarNav {
  border-right: solid 1px black;
  flex-direction: column;
  display: flex;
  width: 20%;
  height: 100vh;
  justify-content: space-around;
}
