* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.App {
  text-align: center;
}
.sidebarNav {
  border-right: solid 1px black;
  flex-direction: column;
  display: flex;
  width: 20%;
  height: 100vh;
  justify-content: space-around;
}
.sidebarNav .navlinks {
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 700;
}
.navlinks.homepage {
  font-size: large;
  font-weight: 900;
}
